<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>TBReach.html</welcome-file>
  </welcome-file-list>

	<!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>org.irdresearch.tbreach.server.ServerServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/tbreach/greet</url-pattern>
  </servlet-mapping>
  
	<servlet>
		<servlet-name>mobileService</servlet-name>
		<servlet-class>org.irdresearch.tbreach.server.MobileService</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>mobileService</servlet-name>
		<url-pattern>/mobileservice</url-pattern>
	
	</servlet-mapping>
	
	<servlet>
		<servlet-name>xpertSmsService</servlet-name>
		<servlet-class>org.irdresearch.tbreach.server.XpertSmsService</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>xpertSmsService</servlet-name>
		<url-pattern>/xpertsmsservice</url-pattern>
	</servlet-mapping>

</web-app>
